$primary-bg-color: #f5f5f5;
$button-color: #1da1f2;
$border-color: #90e0ef;
$secondary-text-color: #64748b;
$card-border-color: #f0ebe7;
$feedback-section-color: #bed8d8;
$card-bg-color: #fbf8f3;
$footer-bg-color: #b3d8d8;
